@font-face {
  src: url("/assets/fonts/Maestro-Light.woff2");
  font-family: "maestro";
}

@font-face {
  src: url("/assets/fonts/Maestro-SemiBold.woff2");
  font-family: "maestro";
  font-weight: bold;
}

html {
  font-family: "maestro", system-ui, sans-serif;
  background: #012;
  /* background: red; */
  color: #dcd;
  font-size: 18px;
  letter-spacing: 0.005em;
}

h1,
h2,
h3,
h4,
strong {
  color: #fff;
}

* {
  margin: 0;
}

* ~ * {
  margin-top: 1rem;
}

body {
  margin: 0;
  line-height: 1.5;
}

a {
  color: #c4d;
  text-decoration-color: #637;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-color: currentColor;
}

::selection {
  background-color: #c4d6;
}

.wrap {
  max-width: 720px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

header {
  background: #012;
  padding: 1rem 0 0;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

header a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
}

code {
  font-family: Menlo, monospace;
  font-weight: bold;
  font-size: 89%;
}

pre code {
  font-weight: normal;
  background: #123;
  display: block;
  padding: 1rem;
  white-space: pre-wrap;
}

h1 {
  font-size: 1.6em;
}

h2,
h3 {
  font-size: 1.2em;
}

* + h2 {
  margin-top: 3rem;
}
